
h1{
	color: red;
}

h2{
	font-size: 16px;
	margin-bottom: 0px;
	margin-top: 0px;
}

h3{
	font-size: 16px;
	margin: 0px;
}

.wrapper{
	text-align: center;
}

.button{
	margin: auto;
	font-size: 1.3em;
	margin-top: 50px;
	margin-bottom: 30px;
}

.custom-button{
	height: 70px;
	cursor: pointer;
	width: 75%;
	margin: auto;
	display: block;
	box-shadow: 1px 1px 1px #888888;
}

#crtRm{
	background-color: #a5efab;
	margin-top: 150px;
	margin-bottom: 30px;
}

#submitFindRm{
	background-color: #5519FF;
}

#submitName{
	background-color: #FF9E0D;
}

.custom-botton:hover{
	background-color: #79af7d;
}

.custom-button p{
	padding-top: 18px;
	font-size: 1.8em;
	text-align: center;
}

.message-feed{
	border: 1px;
	border-style: solid;
	box-shadow: 1px 1px 5px #888888;
	height: 400px;
	overflow: scroll;
}

.nickname-feed{
	border: 1px;
	border-style: solid;
	box-shadow: 1px 1px 5px #888888;
	height: 400px;
	overflow: scroll;
}

#hidden-form{
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	box-shadow: 1px 1px 5px #888888;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

#hidden-form .userForm{
	text-align: center;
}

.formInst{
	text-align: center;
	font-size: 1.3em;
	padding-bottom: 15px;
}

#incorrect-name{
	display:inline-block;
}

.form-div{
	margin: auto;
	display: block;
}

.form-div p{
	text-align:center;
}

#messageField{
	width: 80%;
	padding: 0px;
}

.user-response{
	min-width: 200px;
	background-color:#efefef;
	margin: 9px;
	padding: 10px;
	border-radius: 8px;
	display:inline-block;
}

.current-user-response{
	min-width: 200px;
	background-color:#928CFF;
	margin: 9px;
	padding: 10px;
	border-radius: 8px;
	display:inline-block;
}

.message-text{
	background-color: white;
	padding: 15px;
	border-radius: 5px;
}

.message-nickname{
	text-align: right;
	padding-top: 15px;
	padding-right: 30px;
}

#messageField{
	display: block;
	margin: auto;
}

#submitButtonRm{
	display: block;
	text-align: center;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

#currentuser{
	text-align: left;
}
#messagenick{
	display: inline;
}

#messagecurrnick{
	display: inline;
	color: white;
}

#messagetime{
	color: grey;
	display: inline;
	padding-right: 10px;
}

ul{
	padding-left: 0px;
}

li{
	list-style: none;
	text-align: right;
}

p{
	text-align: left;
}

.black-overlay {
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}