<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>A Locally Managed Messenger</title>
	<meta charset="utf-8"></meta>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
	<script src="home.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link href="main.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
				<div class="wrapper">
					<div class="custom-button" id="crtRm"><p>Create A New Room<p></div>
				</div><!--wrapper-->
				<div class="form-div">
					<p>Room Number: <input type="text" name="roomNum" id="findRm"></p>
					<div class="custom-button" id="submitFindRm"><p>Find Room<p></div>
				</div><!--formDiv-->
			</div><!--col-lg-->
		</div><!--row-->
	</div><!--container-->
</body>
</html>