	<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{roomID}}</title>
	<meta charset="utf-8"></meta>
	<meta name="roomID" content="{{roomID}}">
	<script src="/socket.io/socket.io.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<script src="room.js"></script>
	<link href="main.css" rel="stylesheet">
</head>
<body>
	<div class="container" >
		<div class="row">
			<div id="hidden-form">
				<h2 class="formInst">Fill out your information</h2>
				<p class="userForm">Name: <span id="incorrect-name"><input type="text" name="name" id="name"></span></p>
				<p class="userForm">Nickname: <input type="text" name="nickname" id="nicknameEntry">
					<br/>
				<div class="custom-button" id="submitName"><p>Send<p></div>
			</div><!--hidden-form--> 
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
				<div class="message-response" id="reply">
					<form method="POST" action="/{{roomID}}/messages" id="messageForm">
						<!-- <input type="text" name="message" id="messageField"> -->
						<textarea id="messageField" name ="message" type="text" cols="86" rows ="5" name="confirmationText"></textarea>
						<input type="hidden" name="nickname" id="nicknameField" value="">
						<br/>
						<input type="submit" value="Send" id="submitButtonRm" disabled>
					</form>
				</div><!--message-response-->
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<div class="message-feed" id="message-container">
							<ul id="message-list">

							</ul>
						</div><!--message-feed-->
					</div><!--col-->
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="nickname-feed" id="nickname-container">
							<ul id="nickname-list">
							</ul>
						</div><!--nickname-->
					</div><!--col-->
				</div><!--row-->
				
			</div><!--col-lg-->
		</div><!--row-->
	</div><!--container-->
</body>
</html>